/* Resetando margens e preenchimento */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo com fundo preto */
body {
    background-color: #000;
	display: flex;
	flex-direction: column; /* Organiza elementos verticalmente */
    min-height: 100vh; /* Garante que o corpo ocupe pelo menos toda a altura da janela */
    font-family: 'Arial', sans-serif;
    color: #fff;
    text-align: center;
    width: 100vw; /* Ocupa 100% da largura da tela */
    height: 100vh; /* Ocupa 100% da altura da tela */
    margin: 0;
}

main {
	flex: 1; 
}

/* Efeito de raios */
.rain {
    position: absolute;
    top: -100px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10;
}

.rain-drop {
    position: absolute;
    background-color: #00BFFF;
    width: 1px;
    height: 15px;
    opacity: 0.9;
    animation: fall linear;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh); /* Raio cai até o final da tela */
    }
}

/* Estilo do menu superior */
header {
    background-color: #111;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}
.special-button {
    color: #ffffff; /* Cor do texto */
    background-color: #836FFF; /* Cor de fundo especial */
    padding: 10px 20px;
    border-radius: 5px;
}

.special-button:hover {
    background-color: #00BFFF; /* Cor ao passar o mouse */
    color: #ffffff;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #00BFFF;
    border-radius: 5px;
}

/* Título principal */
h1 {
    font-size: 4em;
    font-weight: bold;
    margin-top: 12vh;
    margin-bottom: 12vh;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #00BFFF;
    text-shadow: 
        2px 2px 4px rgba(0, 0, 0, 0.6),   
        4px 4px 8px rgba(0, 0, 0, 0.5),   
        6px 6px 12px rgba(0, 0, 0, 0.4),  
        8px 8px 16px rgba(0, 0, 0, 0.3);  
    animation: glow 15s infinite alternate;
}

/* Seção de conteúdo */
.content {
    display: flex;
    margin: 0 auto; /* Centraliza o container horizontalmente */
    flex: 1; /* Expande para ocupar o máximo de espaço possível */
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 50px;
    padding-bottom: 80px; /* Adiciona espaço no final da página */
	padding: 20px;
    width: 50%; /* Define a largura do container */
}


.thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
}

.box {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Texto dentro das caixas */
.box h2 {
    font-size: 1.5em;
    font-weight: normal;
    color: #fff;
    margin-bottom: 15px;
}

.box:hover {
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.5);
}

.about-container {
    display: flex;
    align-items: center;
	justify-content: center;
    gap: 20px; 
	text-align: center;
}

.photo img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    object-fit: cover;
}

.bio {
    max-width: 600px;
}

.bio h1 {
    margin-bottom: 10px;
}

.bio h2 {
    margin-bottom: 1px;
    line-height: 1.5;
}

/* Botão de menu (menu toggle) visível apenas no celular */
.menu-toggle {
    display: none;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 2em;
}

/* Responsividade para telas menores */
@media (max-width: 600px) {
    h1 {
        font-size: 3em;
    }

    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #333;
        position: absolute;
        left: 0;
        padding: 20px;
    }
    .menu.active {
        display: block;
    }

    li {
        margin-bottom: 22px;
    }

    nav {
        position: relative;
    }
}

/* Animações */
@keyframes glow {
    0% {
        text-shadow: 
            0px 0px 5px rgba(0, 0, 255, 0.6),  /* Luz inicial suave */
            -5px -5px 10px rgba(0, 191, 255, 0.5),  /* Luz em direção oposta */
            5px 5px 15px rgba(0, 0, 255, 0.4),  /* Luz mais intensa à direita */
            -10px -10px 20px rgba(0, 191, 255, 0.3); /* Luz mais intensa à esquerda */
    }
    50% {
        text-shadow: 
            0px 0px 15px rgba(0, 0, 255, 1),  /* Luz central intensa */
            10px -10px 20px rgba(0, 191, 255, 0.8),  /* Luz em diagonal */
            -10px 10px 30px rgba(0, 0, 255, 0.7),  /* Luz inversa */
            15px 15px 40px rgba(0, 191, 255, 0.6);  /* Luz mais ampla */
    }
    100% {
        text-shadow: 
            0px 0px 20px #00BFFF,  /* Luz máxima central */
            -15px 15px 30px #00BFFF,  /* Luz inversa ampla */
            15px -15px 40px #00BFFF,  /* Luz ampla em diagonal */
            -20px -20px 50px #00BFFF;  /* Luz intensa em direção oposta */
    }
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Garantir que o canvas fique no fundo */
}
footer {
    background-color: #111;
    padding: 20px 0;
    color: #fff;
    text-align: center;
    position: relative; /* Usa position: relative para posicionamento padrão */
    width: 100%;
    margin-top: 30px; /* Espaço antes do rodapé */
    padding-bottom: 30px; /* Espaço abaixo do rodapé */
}

